body {
	padding-top: 60px;
}	

#btn_invit_fb p a.invitation-facebook-btn {
	display: block; 
	width: 246px; height: 40px; 
	background-image: url("../img/facebook/invitation_fb.png");
	background-position: top; 
	text-indent: -9999px; 
}

#FBUIWrapper {position: fixed; top: 0; right: 0; left: 106px;}

.border{
	border: 1px solid #E3E3E3;
}

.border-bottom{
	border-bottom: 1px solid #E3E3E3;
}

.border-top{
	border-top: 1px solid #E3E3E3;
}

.item-name{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #000000;
    font-size: 22px;
    text-transform: uppercase;
}

.item-price{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 20px;
	color: #000000;
}

.home-login-area{
	width: 300px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #fbf9fa;
    border: 1px solid #eed6ec;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
   
    min-height: 20px;
    padding: 19px;   
   		
}

.background-page{
	background-color:#fbf9fa;	
}

.background-color{
	background-color:#fbf9fa;
}

.header-sale{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#000000;
	color: #FFFFFF;
}

.background-img-sale-describe{
	display: block; 
	background-image: url("../img/mode_mots.jpg");
	background-position: top; 
	text-indent: -9999px;
	width: 400px;
	height: 400px;
}

.header-a:link {
	color: white;
}
.header-a:visited {
	color: white;
}
.header-a:hover {
	color: white;
}
.header-a:active {
	color: white;
}

.straight-line {
	border-top : 1px solid #E3E3E3;
	display: block;
 	width: 100%;
 	margin-bottom: 15px;
}


