body {
	padding-top: 60px;
}	

#btn_invit_fb p a.invitation-facebook-btn {
	display: block; 
	width: 246px; height: 40px; 
	background-image: url("../img/facebook/invitation_fb.png");
	background-position: top; 
	text-indent: -9999px; 
}

#FBUIWrapper {position: fixed; top: 0; right: 0; left: 106px;}

.border{
	border: 1px solid #E3E3E3;
}

.border-bottom{
	border-bottom: 1px solid #E3E3E3;
}

.border-top{
	border-top: 1px solid #E3E3E3;
}

.item-name{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	color: #000000;
    font-size: 22px;
    text-transform: uppercase;
}

.item-price{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 20px;
	color: #000000;
}

.home-login-area{
	width: 300px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #fbf9fa;
    border: 1px solid #eed6ec;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
   
    min-height: 20px;
    padding: 19px;   
   		
}

/*
.background-page{
	background-color:#fbf9fa;	
}*/

.background-color{
	background-color:#fbf9fa;
}

.header-sale-section{	
	color: #FFFFFF;
	background-color: #4C4C4C;
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;
}

.header-display-sale{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
    list-style: none outside none;
	background-color:#4C4C4C;
	color: #FFFFFF;
}

.background-img-sale-describe{
	display: block; 
	background-image: url("../img/mode_mots.jpg");
	background-position: top; 
	text-indent: -9999px;
	width: 400px;
	height: 400px;
}

.header-a:link {
	color: white;
}
.header-a:visited {
	color: white;
}
.header-a:hover {
	color: white;
}
.header-a:active {
	color: white;
}

.straight-line {
	border-top : 1px solid #E3E3E3;
	display: block;
 	width: 100%;
 	margin-bottom: 15px;
}

.couleur_en_attente{
	background-color:#EF766F;
}

.info-cart{
	background-color:#4C4C4C;
	height:300px;
	border-radius: 4px;
}

.create-sale{
	background-color:#FFFFFF;
	height:250px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
}

.create-sale-draw-area{
	margin-top:20px;
	height:300px;
	background-image: url("../img/create-sale-draw.png");
}

.total_cart{
	background-color:#FFFFFF;
	border: 1px solid #DDDDDD;
}


.button-small{
	word-spacing: 0.25em;
	line-height: 22px;
    width: 280px;
    padding: 12px 13px 11px;
    text-align: center;
    padding: 6px 12px 5px;
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 18px;
    display: inline-block;
}

.rounded3 {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.purple-sc{
    background: #C996C5;
    border: none;
    color: #fff !important;  
}
.grey-sc{
    background: #FFFFFF;
    border: 1px solid #4C4C4C;
    color: #4C4C4C !important;  
}

.spacer10{
	margin-top:10px;
}

.spacer20{
	margin-top:20px;
}

.spacer30{
	margin-top:30px;
}

.background-grey-sc{
	background-color:#4C4C4C;
}

.address-area-active{
	border: 1px solid #4C4C4C;
}

 #custom-tweet-button a {
    display: block;
    padding: 2px 5px 2px 20px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;

 }

  .background-home-image{
    display: block;   
    background-image: url('../img/packshot-home-original.jpg');
    height: 500px; 

 }


.index-text-h1 {   
    color: #FFFFFF;   
    font-size: 1.9rem; 
    margin-top: 60px;
    font-style: italic;
   
}

.index-text-h2 {   
    color: #FFFFFF;   
    font-size: 2.3rem;
    font-weight: bold;   
    margin-top: 25px;
  	font-family: 'Oxygen', sans-serif;
   
}

.index-button {
	margin-top:60px;
}

.index-font-row {
	background-image: url('../img/trendi_photo_boutique_index1.jpg');
}

.index-step {
	color: #FFFFFF;   
    font-size: 2.5rem;
    font-weight: bold; 
    color:#4C4C4C; 
    margin-top: 25px;
  	font-family: 'Signika Negative', sans-serif;
}

.index-background-area-dark {
	background-color: rgba(0, 0, 0, 0.6);
}

.background-search-engine{
	height: 70px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	border-radius: 4px;
    list-style: none outside none;
	background-color:#F0F0F0;
	color: #4C4C4C;
}